{% extends 'base.html' %}
{% block title %}订单页面{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/css/proList.css">

{% endblock %}

{% block content %}

    <div class="order cart mt" style="margin-bottom: 30px;">
        <!-----------------site------------------->
        <div class="site">
            <p class="wrapper clearfix">
                <span class="fl">订单确认</span>
            </p>
        </div>
        <!-----------------orderCon------------------->
        <div class="orderCon wrapper clearfix">
            <div class="orderL fl">
                <!--------h3---------------->
                <h3>收件信息</h3>
                <!--------addres---------------->
                <div class="addres clearfix">
                    <div class="addre fl on">
                        <div class="tit clearfix">
                            <p class="fl"><span id="name_address">{{ address.aname }}</span>
                                <span class="default">[默认地址]</span>
                            </p>
                        </div>
                        <div class="addCon">
                            <p id="address_address">{{ address.addr }}</p>
                            <p id="phone_address">{{ address.aphone }}</p>
                        </div>
                    </div>
                </div>
                <h3>支付方式</h3>
                <!--------way---------------->
                <div class="way clearfix">
                    <img class="on" src="/static/images/way01.jpg" name="alipay">
                    <img src="/static/images/way02.jpg" name="wechat">
                    <img src="/static/images/way03.jpg" name="union">

                </div>

                <!--------dis---------------->

            </div>
            <div class="orderR fr" style="border:1px solid #16b777;">
                <div class="msg">
                    <h3>订单内容</h3>
                    <!--------ul---------------->

                    {% for cartitem in cartitem_obj_list %}
                        <ul class="clearfix" goodsid="{{ cartitem.goodsid }}" sizeid="{{ cartitem.sizeid }}"
                            colorid="{{ cartitem.colorid }}" count="{{ cartitem.count }}">
                            <li class="fl">
                                <img src="/{{ cartitem.getGoods.gimage }}" width="87px" height="87px">
                            </li>
                            <li class="fl">
                                <p>{{ cartitem.getGoods.gname }}</p>
                                <p>数量：{{ cartitem.count }}</p>
                            </li>
                            <li class="fr">￥{{ cartitem.getTotalPrice }}</li>
                        </ul>
                    {% endfor %}


                </div>
                <!--------tips---------------->
                <div class="tips">
                    <p><span class="fl">商品金额：</span><span class="fr">￥{{ totalPrice }}</span></p>
                    <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                    <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
                </div>
                <!--------tips count---------------->
                <div class="count tips">
                    <p><span class="fl">合计：</span><span class="fr">￥{{ totalPrice }}</span></p>
                </div>
                <!--<input type="button" name="" value="去支付"> -->
                {% csrf_token %}
                <a href="javascript:void(0);" id="pay" class="pay"
                   onclick="javascript:void(0);" style="background-color:#16b777 ">去支付</a>
                {#                <a href="/order/order.html" id="pay" class="pay"#}
                {#                   onclick="javascript:void(0);" style="background-color:#16b777 ">去支付</a>#}
            </div>

        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>

    <script>
        {#layui.use(['layer', 'jquery'], function () {#}
        {#    var $ = layui.jquery;#}
        {#    var layer = layui.layer;#}
        {#    $('#pay').on('click', function () {#}
        {#        var totalPriceNum = parseFloat('{{ totalPrice }}').toFixed(2);#}
        {#        $.ajax({#}
        {#            url: "/order/order_pay/",  // 请求的url地址#}
        {#            type: "POST",   // 请求方#}
        {#            data: {#}
        {#                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),#}
        {#                'totalPrice': totalPriceNum,#}
        {#            },#}
        {#            success: function (response) {#}
        {#                if (response.url) {#}
        {#                    window.location.href = response.url;#}
        {#                } else {#}
        {#                    layer.msg('未获取到重定向地址');#}
        {#                }#}
        {#            },#}
        {#            error: function () {#}
        {#                layer.msg('服务器异常');#}
        {#            }#}
        {#        });#}
        {#    });});#}
        {##}

        $("#pay").click(function () {
            var cartitems = [];

            $.each($('.msg ul'), function (index, item) {
                cartitems.push({
                    "goodsid": $(item).attr('goodsid'),
                    "sizeid": $(item).attr('sizeid'),
                    "count": $(item).attr('count')
                })

            });

            //拼接请求参数
            var params = 'address={{ address.id }}&payway=' + $('.way .on').attr('name') + '&cartitems=' + JSON.stringify(cartitems) + '&totalPrice={{ totalPrice }}';

            //拼接请求地址
            var url = '/order/topay/?' + params;

            $(this).attr('href', url);

        });

    </script>
{% endblock %}