{% extends 'base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block style %}
    <style>
        .all {
            width: 800px;
            box-shadow: -10px 10px 25px rgba(210, 210, 210, 0.9);
            margin: auto;
            margin-top: 5%;
            display: flex;
            border-radius: 35px;
            background-color: #ffffff;
            height: 550px;
        }

        .log {
            width: 50%;
            margin: auto;
        }

        .reg {
            width: 50%;
            height: 100%;
            margin: auto;
            background-color: #20b2aa;
            border-radius: 35px;
            color: #ffffff;
        }

        .reg_1 {
            text-align: center;
            margin: auto;
            margin-top: 50%;
        }

        .reg_1 h2 {
            font-weight: 700;
        }

        .reg_1 p {
            margin: 15px 0px 25px 0px;
        }

        .sig {
            width: 70px;
            height: 30px;
            border-radius: 12px;
            background-color: #20b2aa;
            border-color: #fff;
            color: #ffffff;
        }

        #tiao {
            padding: 0em 0;
        }

        .reg_1 a {
            color: #ffffff;
        }

        h3 {
            font-size: 3em;
            color: black;
            padding-bottom: 1em;
            margin: 0;
            text-align: center;
            font-family: "Marvel-Regular";
        }

        .input {
            margin: 10px 50px;
            width: 300px;
            height: 70px;
        }

        span {
            color: #999;
            font-size: 0.85em;
            padding-bottom: 0.2em;
            display: block;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        .input-text {
            border: 1px solid #555;
            outline-color: #fd9f3e;
            width: 90%;
            font-size: 1em;
            padding: 0.5em;
            line-height: inherit;
        }

        .register-top-grid {
            color: black;
            padding-bottom: 1em;
            margin: 0;
            font-family: "Marvel-Regular";
            margin: 10px 0;
        }

        .text-center {
            text-align: center;
        }

        .tijiao {
            color: rgb(255, 253, 253);
            width: 80px;
            height: 35px;
            background-color: rgb(241, 52, 10);
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="all">
        <div class="log">
            <div class="register">
                <form method="post" action="/users/login/" onsubmit="return login();">
                    <div class="register-top-grid">
                        <h3>用户登录</h3>
                        <div class="input">
                            <span>用户名 <label style="color: red">* </label></span>
                            {% csrf_token %}
                            <input
                                    type="text"
                                    v-model="name"
                                    placeholder="请输入用户名"
                                    class="input-text"
                                    id="uname" name="uname"
                            />
                        </div>
                        <div class="input">
                            <span>密码 <label style="color: red">*</label></span>
                            <input
                                    type="password"
                                    v-model="password"
                                    placeholder="请输入密码"
                                    class="input-text"
                                    id="pwd" name="pwd"
                            />
                        </div>
                        <div class="input">
                            <span>验证码 <label style="color: red">*</label></span>
                            <input style="height:30px;width: 120px;background-color: #9eeaf9;"
                                    type="text" placeholder="请输入验证码" 
                                    id="code" onblur="checkCode(this.value)"
                            /><img src="/users/loadCode.jpg"  onclick="changeCode(this)">
                        </div>
                    </div>
                    <div class="text-center">
                        <input
                                type="submit"
                                value="登录"
                                class="tijiao"
                                @click="denglu"
                        />
                    </div>
                </form>
            </div>
        </div>
        <div class="reg">
            <div class="reg_1">
                <h2>没有账号？</h2>
                <p>立即注册加入我们吧，和我们一起开启旅程吧</p>
                <a href="/users/register">
                    <button type="primary" class="sig">注册</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/md5-min.js' %}"></script>
    <script>
        function isValidUsername(username) {
            // 检查是否包含至少一个数字  
            const hasDigit = /\d/.test(username);
            // 检查是否包含至少一个字母  
            const hasLetter = /[a-zA-Z]/.test(username);
            // 检查是否包含至少一个特殊字符（非字母非数字）  
            const hasSpecialChar = /[^a-zA-Z0-9]/.test(username);

            // 用户名不能为空，并且必须包含数字、字母和特殊字符  
            return username.length > 0 && hasDigit && hasLetter && hasSpecialChar;
        }
        function login() {
            //获取输入框的值
            var uname = $('#uname').val();
            var pwd = $('#pwd').val();

            //简单校验
            if (!isValidUsername(uname)) {
                alert('用户名必须由含数字、字母和特殊字符三种组成');
                return false;
            }

            if (pwd.length < 6) {
                alert('密码长度不能小于六位');
                return false;
            }

            var code = $('#code').val();
            var cflag = checkCode(code);

            if(!cflag){
                alert('验证码错误,请重新输入！');
                return false;}

            var time = new Date().getTime();
            $('#time').val(time)


            var hex_pwd = hex_md5(pwd);

            //var hex_pwd = hex_md5(password+time)
            $('#pwd').val(hex_pwd);

            return true;
        }
        
        //切换验证码,根据时间戳生成验证码图片
        function changeCode(img_obj){
            img_obj.src = '/users/loadCode.jpg?time='+new Date().getTime();
        }

        function checkCode(txt){
            var cflag = false;
            $.ajax({
                url:'/users/checkcode/',
                type:'get',
                data:{'code':txt},
                async:false,
                success:function(result){
                    var flag = result.flag;
                    if(flag){
                        cflag = true;
                    }else{
                        alert('验证码错误,请重新输入！');
                    }
                }
            })
            return cflag;
        }
    </script>
{% endblock %}